# Ignore environment variables file
.env

# Ignore virtual environment directory
venv/
.venv/

# Ignore Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Ignore Python compiled files
__pycache__/
*.pyc